# Module: SQLite3 Assignments
## Lesson: SQLite3


### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.

In [42]:
import sqlite3

def create_database():
    # create sqlite database
    conn = sqlite3.connect('../instances/test.db')
    conn.close()
    print("Database created and successfully connected.")

# Test the function
create_database()

Database created and successfully connected.


2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [43]:
import sqlite3
# Function of total connection
def total_connection(quaries, data:list = None):
    '''Function of total connection'''
    try:
        conn = sqlite3.connect('../instances/test.db')
        cur = conn.cursor()
        if data:
            cur.executemany(quaries, data)
            conn.commit()
        else:
            cur.execute(quaries)
            conn.commit()
    except Exception as e:
        print(e)
        conn.rollback()
    else:
        return data
    finally:
        conn.close()

In [44]:
# Create table
quaries = '''CREATE TABLE IF NOT EXISTS employees
                (id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT, age INTEGER, department TEXT)'''

total_connection(quaries)
print("Table created successfully.")

Table created successfully.


### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.

In [45]:
def insert_data():
    '''Function of insert data'''
    try:
        total_connection("INSERT INTO employees (name, age, department) VALUES ( 'Sudip', 25, 'IT')")
    except Exception as e:
        print(e)

insert_data()


2. Insert at least 5 different employees into the `employees` table.

In [46]:
# insert many data

all_data = [( 'Jack', 25, 'HR'), ( 'Jikk', 25, 'IT'), ( 'Fake', 25, 'IT')]
quaries = '''INSERT INTO employees (name, age, department) VALUES ( ?, ?, ?)'''

total_connection(quaries, all_data)

[('Jack', 25, 'HR'), ('Jikk', 25, 'IT'), ('Fake', 25, 'IT')]




### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.

In [47]:
# featch all data


def featch_data(quaries):
    try:
        conn = sqlite3.connect('../instances/test.db')
        cur = conn.cursor()
        cur.execute(quaries)
        data = cur.fetchall()
        conn.commit()
    except Exception as e:
        print(e)
        conn.rollback()
    else:
        return data
    finally:
        conn.close()

quaries = '''SELECT * FROM employees'''
rows = featch_data(quaries)

for row in rows:
    print(row)

(1, 'Sudip', 25, 'IT')
(2, 'Jack', 25, 'HR')
(3, 'Jikk', 25, 'IT')
(4, 'Fake', 25, 'IT')


2. Write a Python function to fetch and display all employees from a specific department.

In [48]:
# select specific data
def featch_specific_data(quaries, data):
    try:
        conn = sqlite3.connect('../instances/test.db')
        cur = conn.cursor()
        cur.execute(quaries, data)
        data = cur.fetchall()
        conn.commit()
    except Exception as e:
        print(e)
        conn.rollback()
    else:
        return data
    finally:
        conn.close()
quaries = '''SELECT * FROM employees WHERE department =  (?)'''

data = ('IT',)
rows = featch_specific_data(quaries, data)

for row in rows:
    print(row)

(1, 'Sudip', 25, 'IT')
(3, 'Jikk', 25, 'IT')
(4, 'Fake', 25, 'IT')


### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.

In [49]:
def update_employee_department(employee_id, new_department):
    conn = sqlite3.connect('../instances/test.db')
    cursor = conn.cursor()
    cursor.execute('''
        UPDATE employees
        SET department = ?
        WHERE id = ?
    ''', (new_department, employee_id))
    conn.commit()
    conn.close()
    print("Employee department updated successfully.")

# Test the function
update_employee_department(1, 'Data Science')

Employee department updated successfully.



2. Update the department of at least 2 employees and display the updated records.

In [51]:
# Update the department of 2 employees
update_employee_department(2, 'Research')
update_employee_department(3, 'Customer Support')

Employee department updated successfully.
Employee department updated successfully.

In [52]:
quaries = '''SELECT * FROM employees'''
rows = featch_data(quaries)

for row in rows:
    print(row)

(1, 'Sudip', 25, 'Data Science')
(2, 'Jack', 25, 'Research')
(3, 'Jikk', 25, 'Customer Support')
(4, 'Fake', 25, 'IT')


### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.

In [53]:
def delete_employee(employee_id):
    conn = sqlite3.connect('../instances/test.db')
    cursor = conn.cursor()
    cursor.execute('''
        DELETE FROM employees
        WHERE id = ?
    ''', (employee_id,))
    conn.commit()
    conn.close()
    print("Employee deleted successfully.")

# Test the function
delete_employee(1)
quaries = '''SELECT * FROM employees'''
rows = featch_data(quaries)

for row in rows:
    print(row)

Employee deleted successfully.
(2, 'Jack', 25, 'Research')
(3, 'Jikk', 25, 'Customer Support')
(4, 'Fake', 25, 'IT')



2. Delete at least 1 employee and display the remaining records.

In [54]:
delete_employee(employee_id=4)
quaries = '''SELECT * FROM employees'''
rows = featch_data(quaries)

for row in rows:
    print(row)

Employee deleted successfully.
(2, 'Jack', 25, 'Research')
(3, 'Jikk', 25, 'Customer Support')



### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.

In [57]:
def fetch_employees_older_than(age):
    conn = sqlite3.connect('../instances/test.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees WHERE age > ?', (age,))
    records = cursor.fetchall()
    conn.close()
    if records:
        for record in records:
            print(record)
    else:
        print("No employees found.")

# Test the function
fetch_employees_older_than(25)
fetch_employees_older_than(24)

No employees found.
(2, 'Jack', 25, 'Research')
(3, 'Jikk', 25, 'Customer Support')


2. Write a Python function to fetch and display employees whose names start with a specific letter.

In [61]:
def fetch_employees_name_starts_with(letter):
    conn = sqlite3.connect('../instances/test.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?', (letter + '%',))
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

# Test the function
fetch_employees_name_starts_with('J')

(2, 'Jack', 25, 'Research')
(3, 'Jikk', 25, 'Customer Support')


### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.

In [64]:
import sqlite3
# Function of Handling total transaction
def record_transactions(quaries, data:list = None):
    '''Function of total connection'''
    try:
        conn = sqlite3.connect('../instances/test.db')
        cur = conn.cursor()
        if data:
            cur.executemany(quaries, data)
            
        else:
            cur.execute(quaries)
            
    except Exception as e:
        print(e)
        conn.rollback()
    else:
        conn.commit()
        return data
    finally:
        conn.close()

In [67]:
# Test the function with valid and invalid data
employees = [
    (6, 'Frank', 40, 'Finance'),
    (7, 'Grace', 29, 'Engineering'),
    (8, 'Hannah', 35, 'Marketing'),
    (9, 'Ivan', 38, 'Sales'),
    (6, 'Jack', 45, 'HR')  # Duplicate ID to cause an error
]
quaries = '''INSERT INTO employees (id, name, age, department) VALUES ( ?, ?, ?, ?)'''
record_transactions(quaries=quaries, data=employees)

UNIQUE constraint failed: employees.id

2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

In [73]:
import sqlite3

def update_multiple_employees_ages(updates):
    conn = sqlite3.connect('../instances/test.db')
    cursor = conn.cursor()

    valid_updates = []
    invalid_ids = []

    try:
        # Check if IDs exist
        for age, id in updates:
            cursor.execute("SELECT COUNT(*) FROM employees WHERE id = ?", (id,))
            count = cursor.fetchone()[0]
            if count > 0:
                valid_updates.append((age, id))
            else:
                invalid_ids.append(id)

        # Update only valid records
        if invalid_ids:
            print(f"Invalid IDs: {invalid_ids}")
            raise ValueError("Invalid IDs")
        else:
            cursor.executemany('''
                UPDATE employees
                SET age = ?
                WHERE id = ?
            ''', valid_updates)

    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    else:
        conn.commit()
        print("Transaction committed.")
        print(f"Updated {len(valid_updates)} records.")
        print(f"Invalid IDs: {invalid_ids}")
    finally:
        conn.close()

# Test the function with valid and invalid data
updates = [
    (32, 1),
    (50, 2),
    (55, 3),
    (41, 4),  # Non-existing ID to cause an error
    (23, 5)
]
update_multiple_employees_ages(updates)

Invalid IDs: [1, 4, 5]
Error occurred, transaction rolled back.
Invalid IDs





### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).

In [77]:
def crate_table(table_name, columns):
    conn = sqlite3.connect('../instances/test.db')
    cursor = conn.cursor()
    cursor.execute(f'''CREATE TABLE IF NOT EXISTS {table_name} ({columns})''')
    conn.commit()
    conn.close()
    print(f"Table {table_name} created successfully.")

# Test the function
table_name = 'departments'
columns = 'id INTEGER PRIMARY KEY, name TEXT'
crate_table(table_name, columns)

Table departments created successfully.


2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.

In [86]:
import sqlite3

def add_department_foreign_key():
    conn = sqlite3.connect('../instances/test.db')
    cursor = conn.cursor()

    script = '''
        PRAGMA foreign_keys=off;
        BEGIN TRANSACTION;
        ALTER TABLE employees RENAME TO old_employees;
        CREATE TABLE employees (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            department TEXT,
            department_id INTEGER,
            FOREIGN KEY(department_id) REFERENCES departments(id)
        );
        INSERT INTO employees (id, name, age, department)
        SELECT id, name, age, department FROM old_employees;
        DROP TABLE old_employees;
        COMMIT;
        PRAGMA foreign_keys=on;
    '''

    try:
        cursor.executescript(script)
        conn.commit()
        print("Table 'employees' modified successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

# Test the function
add_department_foreign_key()

Table 'employees' modified successfully.


3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

In [87]:
def insert_department_and_employee(department_id, department_name, employee_id, name, age, department):
    conn = sqlite3.connect('../instances/test.db')
    cursor = conn.cursor()
    try:
        cursor.execute('''
            INSERT INTO departments (id, name)
            VALUES (?, ?)
        ''', (department_id, department_name))
        cursor.execute('''
            INSERT INTO employees (id, name, age, department, department_id)
            VALUES (?, ?, ?, ?, ?)
        ''', (employee_id, name, age, department, department_id))
        conn.commit()
        print("Department and employee inserted successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

# Test the function
insert_department_and_employee(1, 'Finance', 10, 'Zara', 28, 'Finance')

Department and employee inserted successfully.


### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.

In [89]:
def create_index_on_name():
    conn = sqlite3.connect('../instances/test.db')
    cursor = conn.cursor()
    cursor.execute('CREATE INDEX idx_name ON employees(name)')
    conn.commit()
    conn.close()
    print("Index on 'name' column created successfully.")

# Test the function
create_index_on_name()

Index on 'name' column created successfully.



2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

In [91]:
import time

def fetch_employees_name_starts_with_performance(letter):
    conn = sqlite3.connect('../instances/test.db')
    cursor = conn.cursor()
    start_time = time.time()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?', (letter + '%',))
    records = cursor.fetchall()
    end_time = time.time()
    conn.close()
    print("Time taken: {} seconds".format(end_time - start_time))
    for record in records:
        print(record)

# Test the function with the index
fetch_employees_name_starts_with_performance('J')

Time taken: 0.0009970664978027344 seconds
(2, 'Jack', 50, 'Research', None)
(3, 'Jikk', 55, 'Customer Support', None)



### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.

In [92]:
import shutil

def backup_database():
    shutil.copy('../instances/test.db', '../instances/backup.db')
    print("Database backed up successfully.")

# Test the function
backup_database()

Database backed up successfully.


2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [93]:
import shutil
def restore_database():
    shutil.copy('../instances/backup.db', '../instances/test.db')
    print("Database restored successfully.")

# Test the function
restore_database()

Database restored successfully.