# Module 3: Data Structures Assignments
## Lesson 3.3: Sets


### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [17]:
positive_set = set([x for x in range(1,11)])
print(positive_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [23]:
positive_set.add(11)
positive_set.remove(1)
print(positive_set)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}


### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [24]:
even_set:set = set([x for x in range(1,11) if x%2==0])
odd_set:set = set([x for x in range(1,11) if x%2!=0])

print(even_set)
print(odd_set)
print(even_set.intersection(odd_set))
print(even_set.difference(odd_set))
print(odd_set.symmetric_difference(even_set))

{2, 4, 6, 8, 10}
{1, 3, 5, 7, 9}
set()
{2, 4, 6, 8, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [25]:
new_set:set = set([x for x in range(1,11)])
print(new_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [27]:
comparison_set:set = set([x for x in new_set if x%2==0])
print(comparison_set)

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [29]:
set_with_duplicates:list = [1,5,6,7,7,8,9,9,9,10]
print(set_with_duplicates)
remove_duplicates = set(set_with_duplicates)    
print(remove_duplicates)

[1, 5, 6, 7, 7, 8, 9, 9, 9, 10]
{1, 5, 6, 7, 8, 9, 10}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [33]:
first_set:set = set([1,2,3,4,5])
second_set:set = set([1,2,3])   

print(first_set.issubset(second_set))
print(first_set.issuperset(second_set))
print(second_set.issubset(first_set))
print(second_set.issuperset(first_set))

False
True
True
False

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [35]:
my_frozenset = frozenset({1, 2, 3, 4, 5})

# Print the frozenset
print(my_frozenset)
print(type(my_frozenset))

frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [36]:
set_9 = {1,2,3,4,5}
set_9_list = list(set_9)
print('set-9-list',set_9_list)
set_9_list.append(6)
print(set_9_list)
set_9 = set(set_9_list)
print(set_9)

set-9-list [1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
{1, 2, 3, 4, 5, 6}




### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [37]:
# Create a dictionary with set keys and integer values
my_dict = {frozenset({1, 2}): 10, frozenset({3, 4}): 20}

# Print the dictionary
print(my_dict)

{frozenset({1, 2}): 10, frozenset({3, 4}): 20}


### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [40]:
new_set_11 = {1,5,7,8,9,10}
x =[print(x) for x in new_set_11]

1
5
7
8
9
10

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [41]:
new_set_12:set = set([x for x in range(1,11)])
print(new_set_12)
new_set_12.clear()
print(new_set_12)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [43]:
set_13_1 = {1,2,3,4,5}
set_13_2 = {1,2,3}
p = set_13_1.symmetric_difference(set_13_2)
print(set_13_1)
print(p)

{1, 2, 3, 4, 5}
{4, 5}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [48]:
set_14:set = set([5,7,9,88,5,6,2,1,4,6])
print(set_14)
print(set_14.intersection([5]))
print(set_14.intersection([10]))

{1, 2, 4, 5, 6, 7, 9, 88}
{5}
set()



### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [52]:
set_15:set = set([(x,y) for x in range(1,3) for y in range(1,3)])
print(set_15)

{(1, 1), (1, 2), (2, 1), (2, 2)}